

<!-- <div class="container"></div> -->

<!-- <app-header></app-header> -->

  <div class="container1 clearfix">
    <div class="people-list" id="people-list">
      <div class="search">
        <input type="text" placeholder="search" />
        <i class="fa fa-users" aria-hidden="true" style="color: white;font-size: 25px;
        margin-top: 10px;margin-left: 5px;" (click)="open(content)"></i>
      </div>
    <div *ngIf='!(datas.length === 0); else new'>
      <ul class="list" *ngFor='let data of datas'>
        <li class="clearfix" *ngIf="data.groupid!=='undefined'" (click)="changecomponent(data.uid,data.name,data.image,data.groupid)">
          <img class="img1" src='http://localhost:8000/images/{{data.image}}' alt="avatar" />
          <div class="about">
            <div class="name">{{data.name}}</div>
            <div *ngFor='let n of onlineusers'>
            <div class="status" *ngIf='data.uid===n.user'>
              <i class="fa fa-circle online inline"></i>Online
            </div>
            <!-- <div class="status">
              <i class="fa fa-circle online inline"  *ngIf='data.uid===n.user' ></i> <div class="inline" *ngIf='data.uid===n.user'>Online</div>
              <i class="fa fa-circle offline"></i> offline
            </div> -->
          </div>
          </div>
        </li>
        <li class="clearfix" *ngIf="data.groupid==='undefined'" (click)="changecomponent(data.uid,data.name,data.image)">
          <img class="img1" src='http://localhost:8000/images/{{data.image}}' alt="avatar" />
          <div class="about">
            <div class="name">{{data.name}}</div>
            <div *ngFor='let n of onlineusers'>
            <div class="status" *ngIf='data.uid===n.user'>
              <i class="fa fa-circle online inline"></i>Online
            </div>
            <!-- <div class="status">
              <i class="fa fa-circle online inline"  *ngIf='data.uid===n.user' ></i> <div class="inline" *ngIf='data.uid===n.user'>Online</div>
              <i class="fa fa-circle offline"></i> offline
            </div> -->
          </div>
          </div>
        </li>
      </ul>
    </div>
    <ng-template #new><h4 class="newtext">Sorry you Don't have any friends</h4></ng-template>
    </div>
  </div>

  <div class="chat" *ngIf='chatname'>
    <!-- <app-chat-message></app-chat-message> -->

  
    <div class="chat-header clearfix">
      <img class="img1" src="http://localhost:8000/images/{{img}}" alt="avatar" />
      
      <div class="chat-about">
        <div class="chat-with">{{chatname}}</div>
        <div *ngIf="typing==='typing' && newname===messagesendid">typing....</div>
        <div *ngIf="typing==='stop typing' && newname===messagesendid"></div>
      </div>


            <!-- <form enctype="multipart/form-data"  [formGroup]="profileForm"  (ngSubmit)="onSubmit($event)"> -->
        <!-- <input   (change)="createFormData($event)">
        <i type="file" formControlName="image" class="fa fa-file-image-o" style="float: right; padding-top:15px;font-size: 25px ;" (click)='fileupload()'></i> -->
        <!-- <label for="file" style="float: right;">
          <i type="file" class="fa fa-file-video-o" style="float: right; padding-top:15px;font-size: 25px;padding-left: 15px ;"></i>
          <input type="file" id="file" style="display: none" name="image" (change)="createFormDataforvideo($event)" data-original-title="upload photos">
        </label> -->
        <label for="file" style="float: right;">
          <i type="file" class="fa fa-file-image-o" style="float: right; padding-top:15px;font-size: 25px;padding-left: 15px ;"></i>
          <input type="file" id="file" style="display: none" name="image" (change)="createFormData($event)" data-original-title="upload photos">
        </label>
        <!-- <i class=""></i> -->
<!-- </form> -->

       
      <!-- <i class="fa fa-paperclip" aria-hidden="true"></i> -->
    </div>
    
    <div class="chat-history" id="chat-history" #scrollMe [scrollTop]="scrollMe.scrollHeight">
  
      <ul *ngFor='let message of newmessagearray'>
        <li class="clearfix" *ngIf='message.sendbyuid===localdata.uid && message.room===currentroom'>
          <div class="message-data align-right">
            <span class="message-data-time" >{{message.date}}</span> &nbsp;
            <span class="message-data-name" >{{message.sendby}}</span> 
          </div>
          <div class="message other-message float-right">
            <div *ngIf="message.type==='file' && message.fileis==='image'">
                <img id='messageimg' src='http://localhost:8000/file/{{message.message}}'/>
                <!-- {{message.message}}
                {{message.type}}
                {{message.fileis}} -->
            </div>
              <div *ngIf="message.type==='file' && message.fileis==='video'">
                <video id="messagevdo" src="http://localhost:8000/file/{{message.message}}" controls></video>
                <!-- {{message.message}}
                {{message.type}}
                {{message.fileis}} -->
              </div>
              <span *ngIf="message.type==='text'"> {{message.message}}</span>
           <img src="../../../assets/images/check-double-solid.svg" class="svg" *ngIf="message.status==='delivered'">
          <img src="../../../assets/images/check-square-solid.svg" class="svg" *ngIf="message.status==='read'"> 
           <img src="../../../assets/images/check-solid.svg" class="svg" *ngIf="message.status==='not delivered'">
          </div>
        </li>
         
        <li *ngIf='message.sendbyuid!==localdata.uid && message.room===currentroom'>
          <div class="message-data">
            <span class="message-data-time">{{message.sendby}}</span> &nbsp;
            <span class="message-data-name">{{message.date}}</span>
           
          </div>
          <div class="message my-message">
            <!-- <div *ngIf='message.type===file'> -->
              <div *ngIf="message.type==='file' && message.fileis==='image'">
                <img id='messageimg' src='http://localhost:8000/file/{{message.message}}'/>
              </div>
              <div *ngIf="message.type==='file' && message.fileis==='video'">
                <video id="messagevdo" src="http://localhost:8000/file/{{message.message}}" controls></video>
                <!-- {{message.message}}
                {{message.type}}
                {{message.fileis}} -->
              </div>
            <!-- </div> -->
           <span *ngIf="message.type==='text'"> {{message.message}}</span>
          </div>
        </li>  
      </ul>
      
    </div> <!-- end chat-history -->



    <div class="abcd">
      <div  *ngFor='let a of arrayforimage'>
      <img id="blah" src="{{a.img}}" *ngIf='currentroom===a.room' />
      <i class="fa fa-times-circle" id="ic" *ngIf='currentroom===a.room' (click)='rmeoveimage(a)'></i>
    </div>
    <div  *ngFor='let ab of arrayforvideo'>
      <video [src]="ab.url" controls *ngIf='currentroom===ab.room'></video>
      <i class="fa fa-times-circle" id='ic'  *ngIf='currentroom===ab.room' (click)='removevideo(ab)'></i>
  </div>
    </div>

    <div class="chat-message clearfix">
      
      <textarea #textarea name="message-to-send" #messagevalue id="message-to-send" placeholder ="Type your message" rows="2" (keyup)="myFunction(textarea)"></textarea>
      <button (click)="messagesend(messagevalue)">Send</button>
      
    </div> <!-- end chat-message -->
  </div>

  



















  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Select friend to add in group</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- <ul class="list" > -->
        <!-- <select  multiple> -->
          <div  *ngFor='let data of datas'>
            <input type="checkbox" class="input1" id="{{data.uid}}" #checkboxs  (click)="chacked(data.uid,$event)">
            <!-- <span class="checkmark"></span> -->
            <img class="dropdownimage" src='http://localhost:8000/images/{{data.image}}' alt="avatar" />

              <div class="nameofdropdown">{{data.name}}</div>

         </div>
        <!--  </select> -->

      <!-- </ul> -->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="open(content1)">next step</button>
    </div>
  </ng-template>
  
  <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
  


  <ng-template #content1 let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Select a name for the group</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Name</label>
            <input type="text" #name class="nameinput">
            <label>select image</label>
            <input type="file" (change)="createFormDataforgroupimage($event)" id="myfile" name="myfile"><br><br>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="closeandsenddata(name,content,content1)">Creat Group</button>
    </div>
  </ng-template>