@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.container1 {
//   margin: 0 auto;
  width: 30%;
  background: #444753;
  border-radius: 5px;
  height: 90.5vh;
  display: inline-block;
  // overflow: scroll;
  // overflow-x: scroll;
  overflow-y:auto;
}
.newtext{
  width: 80%;
  margin: auto;
  color: white;
}
.people-list {
  width:100%;
//   float: left;
padding-left: 0px !important;
  margin-left: 0px !important;
  .search {
    padding: 10px;
  }
  
  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 100%;
    font-size: 14px;
  }
  
  .fa-search {
    position: relative;
    left: -25px;
  }
  
  ul {
    padding: 20px;
    height: 100%;
 
    
    
    
    li {
      padding-bottom: 20px;
    }
  }
  
  img {
    float: left;
  }
  
  .about {
    float: left;
    margin-top: 8px;
  }
  
  .about {
    padding-left: 8px;
  }
  
  .status {
    color: $gray;
  }
  
}

.chat {
  width: 70%;
//   margin-top: 12px;
height: 90.5vh;
// overflow: scroll;
  // padding: 10px;
  float:right;
//   position: absolute;
  background: #ffe0bd;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
//   height:100px !important;
// margin-left:40px;
  color: #434651;
  
  .chat-header {
    // padding: 20px;
    border-bottom: 2px solid white;
    padding: 10px;
    
    img {
      float: left;
    }
    
    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }
    
    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }
    
    .chat-num-messages {
      color: $gray;
    }
    
    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }
  
  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: auto;
    height: 65vh;
    position: relative;
    
    .message-data {
      margin-bottom: 15px;
    }
    
    .message-data-time {
      // color: lighten($gray, 8%);
      padding-left: 6px;
    }
    
    .message {      
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 13px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 45%;
      position: relative;
      
      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $green;
        border-width: 10px;
        margin-left: -10px;
      }
    }
    
    .my-message {
      background: $green;
    }
    
    .other-message {
      background: $blue;
      
      &:after {
        border-bottom-color: $blue;
        left: 93%;
      }
    }
    
  }
  
  .chat-message {
    padding: 10px;
    height: 10%;
    textarea {
      margin-top:12px;
      width: 95%;
      padding:5px;
      border: none;
      // padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      // margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
      
    }
    
 
    
    button {
      float: right;
      color: $blue;
      margin-top:25px;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      // background: #F2F5F8;
      
      &:hover {
        color: darken($blue, 7%);
      }
    }
  }
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }
  
.online {
  color: $green;
}
.inline{
  display: inline-block;
}
.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.img1{
  height: 60px;
  width: 60px;
  border-radius: 100%;
}
.svg{
  height: 10px;
  width: 10px;
  color: white !important;
  // display: inline-block;
  float: right;
  margin-top: 15px;
}
.abcd{
  position: absolute;
  margin-top: -120px;
  border-radius: 15px;
  // opacity: 0.5;
  margin-left: 8px;
  background-color: rgba(0,0,0,0.5);
  width: 65%;
  display: flex;
  // height: 15%;
  // overflow-x: hidden;
  overflow-y: hidden;
  height: auto;
  // display: none;
  overflow-x: auto;
  
}
#blah{
  // padding-left:12px ;
  margin-left: 20px;
  height: 100px;
  width: 150px;
  border-radius: 15px;
  display: inline-block;
}
video{
  height: 100px;
  width: 150px;
  object-fit: fill;
  // padding-left:12px ;
  margin-left: 20px;
  border-radius: 15px;
}
#ic{
  color: black;
  // background-color: white;
  // border-radius: 100%;
  margin-bottom:100px ;
  position: absolute;
}
#messageimg{
  height: 30% !important;
  width: 100% !important;  
  padding: 0px !important;
  border-radius: 10px;
  margin: 0px !important;
  
}
#messagevdo{
  height: 30% !important;
  width: 100% !important;  
  padding: 0px !important;
  margin: 0px !important;
}