<app-header></app-header>
  <!-- <button class="btn btn-primary" (click)="socket(input)">button</button>
  <div>{{data}}</div>
<input #input placeholder="enter"/> -->

<!-- <div>Online users</div>
<div *ngFor="let data of datas">
  <p>{{data.user}}</p>
  <input #input placeholder="enter"/>
  <button  (click)="chat(data.user,input)">send</button>
</div>
<div *ngFor="let m of message">
<div>{{m}}</div>
</div> -->
<!-- <div id="mySidenav" class="sidenav">
  <p style="cursor: pointer;" class="closebtn" (click)="closeNav()">&times;</p>
  <p class="link" (click)="ondashboard()">Chat</p>
  <p class="link">Account</p>
  <p class="link" (click)="friends()">Friends</p>
  <p class="link" (click)="onusers()">Users</p>
  <p class="link" href="#">Query</p>
  <p class="link" (click)="onrequest()">Requests</p>

</div> -->

<!-- <div class="allcomponent">
  <div class="card-body">
    <h2 class="card-front component">
      First Card
    </h2>

    <p class="card-back">
      Back face content.
    </p>
  </div>
<div class="component chat">Chat</div>
<div class="component">Account</div>
<div class="component">Friends</div>
<div class="component">Users</div>
<div class="component">Query</div>
<div class="component">Requests</div>
</div> -->


<div class="allcomponent">
<div class="cards">
  <a class="card" (click)="ondashboard()">
    <div class="card-body">
      <h2 class="card-front text-center">
        Chat
      </h2>

      <p class="card-chat-back card-back">
      </p>
    </div>
  </a>

  <a class="card">
    <div class="card-body">
      <h2 class="card-front text-center">
        Account
      </h2>

      <p class="card-back card-account-back">
      </p>
    </div>
  </a>

  <a class="card" (click)="friends()">
    <div class="card-body">
      <h2 class="card-front text-center">
        Friends
      </h2>

      <p class="card-back card-friend-back">
        
      </p>
    </div>
  </a>

  <a class="card" (click)="onusers()">
    <div class="card-body">
      <h2 class="card-front text-center">
        Users
      </h2>

      <p class="card-back card-users-back">
        
      </p>
    </div>
  </a>

  <a class="card">
    <div class="card-body">
      <h2 class="card-front text-center">
        Query
      </h2>

      <p class="card-back card-quesry-back">
      </p>
    </div>
  </a>

  <a class="card" (click)="onrequest()">
    <div class="card-body">
      <h2 class="card-front text-center">
        Requests
      </h2>

      <p class="card-back card-request-back">
      </p>
    </div>
  </a>
</div>






</div>  