<app-dashboard></app-dashboard>
<table>
    <tr *ngIf="!datas.length==0 else norequest">
    <th>name</th>
    <th>emailid</th>
    <th></th>
    <th></th>
</tr>
<tr *ngFor="let data of datas">
<td>{{data.name}}</td>
<td>{{data.email}}</td>
<td><button class="btn btn-success" (click)="acceptfriendrequest(data.id)">accept</button></td>
<td><button class="btn btn-danger" (click)="rejectrequest(data.id)">Reject</button></td>
</tr>
</table>
<ng-template  #norequest>
    <h1>No Requests</h1>
</ng-template>