.login100-pic img {
    margin-top: 10px !important ;
}
// span{
//     // padding-left: 40px !important;
//     color: red !important;
// }
.login100-form-title{
    padding-left: 40px !important;
}
.text-center {
    text-align: center;
    margin: 10px !important;
    padding-left: 50px !important;
}