/* You can add global styles to this file, and also import other style files */
.wrap-input100 {
    padding-left: 39px !important;
}
.symbol-input100 { 
    padding-left: 0px !important;
}
#login{
    background-color: silver !important;
    border-radius: 10px !important;
    padding: 12px !important;
}
#password{
    background-color: silver !important;
    border-radius: 10px !important;
    padding: 12px !important;
}
#cpassword{
    background-color: silver !important;
    border-radius: 10px !important;
    padding: 12px !important;
}
.login100-form-btn{
    margin-left: 60px !important;
}
span{
    padding-left: 12px !important;
    padding-right: 14px;
    color: red;
    font-size: 14px !important;
}
.login100-form {
    width: 340px !important;
}
button:disabled,
button[disabled]{
  opacity: 0.5 !important;
}
.navbar{
    background: #9053c7;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.login100-pic img {
    margin-top: 70px;
}
.wrap-login100 {
    padding: 150px 90px 10px 60px !important;
}
