<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <img src="{{img1}}" height="40" width="40">
          </li>
          <li class="nav-item active">
            <p class="nav-link"><span style="font-size:30px;cursor:pointer;color: black;" (click)="openNav()"> {{displayname}}</span></p>
          </li>
          <li class="nav-item">
            <p class="nav-link" (click)="logout()">Logout</p>
          </li>       
        </ul>      
      </div>
  </nav>